<section class="hero-wrap hero-wrap-2" style="background-image: url('./assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Services</h1>
                <p class="breadcrumbs"><span class="mr-2"><a [routerLink]="['/home']">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Services <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4">Our Best Services</h2>
                <p>Kamusasa and Musendo Legal Practitioners offers a wide range of legal services which include but are
                    not limited to;</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-analysis"></span></div>
                    <div class="text media-body">
                        <h3>Commercial and corporate services </h3>
                        <ul>
                            <li>Company Formations</li>
                            <li>Liquidations</li>
                            <li>Debt recoveries</li>
                            <li>Foreclosures</li>
                            <li>Mergers and acquisitions</li>
                            <li>General Corporate Secretarial Services</li>
                            <li>Construction law</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center noborder-bottom ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-search-engine"></span></div>
                    <div class="text media-body">
                        <h3>Family Law</h3>
                        <ul>
                            <li>Divorces </li>
                            <li>Maintance</li>
                            <li>Guardianship of minors </li>
                            <li>Access to minors during separation or divorce of parents</li>
                            <li>Matrimonial property </li>
                            <li>Juvenile law </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-insurance"></span></div>
                    <div class="text media-body">
                        <h3>Labour And Administrative law </h3>
                        <ul>
                            <li>General labour consultancy services</li>
                            <li>Employment/Consultancy contracts</li>
                            <li>Codes of conduct</li>
                            <li>Constitutions</li>
                            <li>Appeals</li>
                            <li>Labour disputes, mediation & arbitration</li>
                            <li>Trade agreements</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-business"></span></div>
                    <div class="text media-body">
                        <h3>Insurance Law </h3>
                        <ul>
                            <li>Claims</li>
                            <li>Defending claims</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-money"></span></div>
                    <div class="text media-body">
                        <h3>Conveyancing and Notarial</h3>
                        <ul>
                            <li>Property transfers (Title Deeds)</li>
                            <li>Agreement of Sale</li>
                            <li>Lease Agreements </li>
                            <li>Bond Registrations and Cancellations </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center noborder-bottom ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-rating"></span></div>
                    <div class="text media-body">
                        <h3> Estate planning </h3>
                        <ul>
                            <li>Will writing </li>
                            <li>Executor services </li>
                            <li>Estate planning & registrations </li>
                            <li>Estate Advisory Services </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center noborder-bottom ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-rating"></span></div>
                    <div class="text media-body">
                        <h3>Litigation </h3>
                        <p>Litigation by the firm includes civil litigation, criminal litigation and those cases arising
                            from politically inspired or human rights violations. We also offer constitutional advice
                            and litigation where necessary</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<section class="ftco-section">
    <div class="container">
        <h3>LEGAL CHARGES</h3>
        <p>As professionals, we are entitled to remuneration in the form of fees. Legal services are unfortunately not
            cheap, a fact that all our clients are advised of from inception. Our legal charges are in accordance with
            and guided by the Law Society of Zimbabwe minimum fees tariffs. Charges are determined by the circumstances
            of the case and in particular the following factors: </p>
        <ol>
            <li> The complexity of the matter or difficulty or novelty of the questions raised;</li>
            <li>The skill, labour, specialized knowledge and responsibility involved on the part of the Legal
                Practitioner;</li>
            <li>The number and importance of the documents prepared or perused with regard to length;</li>
            <li>The place where and the circumstances in which the business or any part thereof is transacted;</li>
            <li>The time expended by the Legal Practitioner;</li>
            <li> Where money or property is involved, its amount or value;</li>
            <li>Any tariff of recommended charges issued by the Council; </li>
        </ol>
        <p>The Law Society fees Tariffs are available for perusal by clients upon request. </p>
        <br />
        <div class="row">
            <div class="col-6">
                <h3>DEPOSITS</h3>
                <p>It is our practice to request from time to time payment of initial and interim deposits in advance to
                    cover
                    foreseeable fees and disbursements. However the amount of the deposit requested is not an estimate
                    of the
                    total legal costs involved in concluding the mandate.</p>

            </div>
            <div class="col-6">
                <h3>INTERIM ACCOUNT</h3>
                <p>If at any time our clients are concerned as to the amount of fees they have incurred, they are at
                    liberty to
                    ask for an interim statement. In any event, we send out interim accounts from time to time where
                    appropriate. </p>
            </div>
        </div>
    </div>
</section>