<section class="hero-wrap hero-wrap-2" style="background-image: url('./assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">About Us</h1>
                <p class="breadcrumbs"><span class="mr-2"><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>About us <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-5 order-md-last wrap-about align-items-stretch">
                <div class="wrap-about-border">
                    <div class="text">
                        <h3>OUR VISION </h3>
                        <p>To deliver unparalleled and comprehensive legal services within a reasonable time and at an
                            affordable cost. </p>

                        <h3>OUR AIM </h3>
                        <p>KAMUSASA AND MUSENDO LEGAL PRACTIONERS aims to offer efficient, transparent and excellent
                            legal services both in terms of delivery and packaging of same to the satisfaction of each
                            client.</p>

                        <h3>OUR VALUES </h3>
                        <ul>
                            <li>An expression of diligence towards work.</li>
                            <li>A desire to satisfy clients as far as their legal issues are concerned.</li>
                            <li>An attitude of service towards clients.</li>
                            <li>A culture of adherence and compliance to the law of our land in so far as it does not
                                contravene the word of God especially by pursuing

                                <ul>
                                    <li>
                                        impartiality 
                                    </li>
                                    <li>responsibility</li>
                                    <li>integrity</li>
                                    <li>frankness</li>
                                    <li>honesty</li>
                                    <li>objectiveness</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-7 wrap-about pr-md-4 ftco-animate">
                <h2 class="mb-4">Welcome to KM Legal</h2>
                <p>
                    Kamusasa & Musendo Legal Practitioners is a registered private legal firm registered in terms of the
                    Legal Practitioners Act (Chapter 27:07) and with the Law Society of Zimbabwe. It consists of a team
                    of
                    efficient, astute, visionary professionals and principled legal practitioners and supporting staff
                    with
                    vast experience in the legal field who devote their energies in pursuit of their calling into the
                    practice of Law and its execution. <br /><br />The legal firm undertakes work in most legal
                    disciplines such as
                    contract law, insurance law, construction law, criminal law, banking law, civil litigation, criminal
                    litigation, constitutional advice and litigation, conveyancing and notarial work etcetera. We also
                    offer
                    efficient debts recovery services.<br /><br />
                    The firm has a clear cut mission tailor-made to meet the needs of individual and corporate clients
                    on a
                    person to person basis. We strive to accommodate diverse clients notwithstanding the size be they
                    individuals, corporate, associations, clubs, churches, nongovernmental organizations,
                    quasi-government
                    organizations etc. We provide a complete package of professional services under one roof.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-intro ftco-no-pb img" style="background-image: url(./assets/images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
                <h2 class="mb-0">You Always Get the Best Guidance</h2>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter" id="section-counter">
    <div class="container">
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="wrapper">
                <div class="row d-md-flex align-items-center">
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="705">0</strong>
                                <span>Projects Completed</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="809">0</strong>
                                <span>Satisfied Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="335">0</strong>
                                <span>Awwards Received</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="35">0</strong>
                                <span>Years of Experienced</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4">Our Clients Says</h2>
                <p>Separated they live in. A small river named Duden flows by their place and supplies it with the
                    necessary regelialia. It is a paradisematic country</p>
            </div>
        </div>
    </div>
</section>