<section class="ftco-section ftco-counter">
    <img class="col-6 offset-3 mb-1" src="assets/images/image07.jpg" />
    <h2 class="mb-4 text-center mb-5">Meet Our Legal Team</h2>
    <br/>
    <div class="row m-o p-2">
        <div class="col-6">
            <div class="row p-2 m-0 justify-content-center mb-5 pb-2 d-flex">
                <img src="assets/images/image08.jpg" class="col-8 mb-2" />
                <h4 class="mb-3">ZIWAI MOSES KAMUSASA</h4>
                <p>He is the Senior Partner in the Law firm who worked as a Legal Practitioner, Conveyancer and
                    Notary Public continuously for nineteen years (19) years. He is the Founder and has vast
                    experience in the field of private legal practice. He graduated from the University of
                    Zimbabwe with a LLB Hons Degree in 1998 and was registered as a legal practitioner,
                    conveyancer and notary public on the 24th February 1999. He joined Nduna and Partners Legal
                    Practitioners until in 2003 before forming the current concern in January 2004. </p>
                <p>
                    He has vast experience in commercial law, contract law, conveyancing, notarial practice, family law
                    and criminal law. He is currently specializing in conveyancing, notarial practice, corporate legal
                    services and general legal consultancy work.
                    He is legal advisor for, inter alia, apart from individual and other clients;
                </p>
                <ul>
                    <li>Antenna Financial Services (Pvt) Ltd</li>
                    <li>Munatech Electrical Engineering (Pvt) Ltd</li>
                    <li>Pilgrims Rest Properties (Pvt) Ltd</li>
                    <li>Lavemack Investments (Pvt) Ltd </li>
                    <li>Brunsburg Enterprises (Pvt) Ltd </li>
                    <li>Global Horizons (Pvt) Ltd </li>
                    <li>Sencord Trading (Pvt) Ltd </li>
                    <li>West Comm Properties (Pvt) Ltd </li>
                </ul>
            </div>
        </div>

        <div class="col-6">
            <div class="row p-2 m-0 justify-content-center mb-5 pb-2 d-flex">
                <img src="assets/images/image04.jpg" class="col-8 mb-2" />
                <h4 class="mb-3">PATONY P. MUSENDO </h4>
                <p>He is the Managing Partner of the law firm and has fifteen (18) years’ experience as a Legal
                    Practitioner, Notary Public and Conveyancer. He graduated from the University of Zimbabwe in
                    2000 and has been practicing law since then. He has previously worked with reputable firms
                    like Costa and Madzonga and Chitapi and Associates before he joined the firm. </p>
                <p>He is experienced in labour law, family law, legal drafting, conveyancing, contract law and
                    commercial law.
                    Mr. Musendo has various local and international certificates and qualifications in leadership,
                    project planning and management. He works extensively with leadership and people development
                    organizations and is the director of Student Connect Trust, a leadership development organization.
                    He is also a board member and or legal adviser for the following organizations; </p>
                <ul>
                    <li>Africa Reform Institute</li>
                    <li>Kairos Family Life Institute</li>
                    <li>McSheppy (Pvt) Ltd. </li>
                    <li>Associated Mine Workers Union of Zimbabwe.</li>
                    <li>Lifetime Consulting </li>
                    <li>Diagnostic Laboratory Suppliers (Pvt) Ltd. </li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="row p-2 m-0 justify-content-center mb-5 pb-2 d-flex">
                <img src="assets/images/image02.jpg" class="col-8 mb-2" />
                <h4 class="mb-3">HAPPYTON M. BONYONGWE (Consultant) </h4>
                <p>He is the Consultant of the law firm and has vast experience in the public sector spanning (24)
                    years. He graduated from the University of Zimbabwe in 1994 and has been working in Government
                    since then until August 2018 when he joined the private practice. He is a holder of numeral legal
                    qualifications which include;<br />
                    <b>LLb Hons (UZ), Msc IR (UZ), isc, psc (UK), RCDS (UK)</b> </p>
                <p>He specialize in corporate legal services and among his clients are; </p>
                <ul>
                    <li>BST Holdings (Pvt) Ltd. </li>
                    <li>Bluetrack Investments (Pvt) Ltd </li>
                    <li>Samsim (Pvt) Ltd </li>
                    <li>Stenhop Investments (Pvt) Ltd </li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="row p-2 m-0 justify-content-center mb-5 pb-2 d-flex">
                <img src="assets/images/image05.jpg" class="col-8 mb-2" />
                <h4 class="mb-3 col-12 text-center">LEGAL INTERNS </h4>
                <p><b><u>WALTER</u></b>: He is a holder of a Bachelor of Laws Degree from University of KwaZulu Natal.
                    He is an
                    attachee at
                    this firm and is preparing to write conversion exams before he registers for legal practice.
                    Meanwhile he is currently studying a masters’ degree in International Trade Law with University of
                    KwaZulu Natal.</p>
                <p><b><U>TANATSWA</U> </b>: She graduated at the University of Zimbabwe with a Bachelor of Laws Degree
                    (LLB Hons) in 2018. She is awaiting registration with the High Court and Law Society of Zimbabwe
                    before she commences law practice as a professional assistant </p>
            </div>
        </div>
    </div>
</section>