<div class="row col-12 p-0 m-0">
    <div class="slider-item" style="background-image:url(/assets/images/banner.jpg);">
        <div class="overlay"></div>
        <div class="container pt-4 mt-2">
            <div class="row no-gutters slider-text align-items-center justify-content-start"
                data-scrollax-parent="true">
                <div class="col-md-12 text-center text-light">
                    <div class="row">
                        <img src="assets/images/logo_alt.png" class="col-2 offset-5" />
                        <div class="col-12">
                            <h1 class="mt-4 f-3 text-light">Kamusasa & Musendo</h1>
                            <h3 class="text-light">LEGAL PRACTICTIONERS</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="col-10 offset-1">
    <div class="row d-flex">
        <div class="col-md-5 order-md-last wrap-about align-items-stretch">
            <div class="wrap-about-border ftco-animate">
                <div class="img" style="background-image: url(assets/images/image03.jpg);"></div>
                <div class="text">
                    <h3>Our Services</h3>
                    <ul>
                        <li>Commercial and corporate services</li>
                        <li>Insurance Law</li>
                        <li>Labour And Administrative law </li>
                        <li>Conveyancing , Notarial Practice and Estate planning </li>
                        <li>Family Law </li>
                        <li>Litigation</li>
                    </ul>
                    <p><a [routerLink]="['/service']" routerLinkActive="router-link-active"
                            class="btn btn-primary py-3 px-4">View More</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-7 wrap-about pr-md-4 ftco-animate">
            <h2 class="mb-4">About Us</h2>
            <p>
                Kamusasa & Musendo Legal Practitioners is a registered private legal firm registered in terms of the
                Legal Practitioners Act (Chapter 27:07) and with the Law Society of Zimbabwe. It consists of a team of
                efficient, astute, visionary professionals and principled legal practitioners and supporting staff with
                vast experience in the legal field who devote their energies in pursuit of their calling into the
                practice of Law and its execution. <br /><br />The legal firm undertakes work in most legal disciplines such as
                contract law, insurance law, construction law, criminal law, banking law, civil litigation, criminal
                litigation, constitutional advice and litigation, conveyancing and notarial work etcetera. We also offer
                efficient debts recovery services.<br /><br />
                The firm has a clear cut mission tailor-made to meet the needs of individual and corporate clients on a
                person to person basis. We strive to accommodate diverse clients notwithstanding the size be they
                individuals, corporate, associations, clubs, churches, nongovernmental organizations, quasi-government
                organizations etc. We provide a complete package of professional services under one roof.
            </p>
        </div>
    </div>
</div>